:root {
    --black: #171321;
    --dkblue: #0d314b;
    --plum: #4b0d49;
    --hotmag: #ff17e4;
    --magenta: #e310cb;
    --aqua: #86fbfb;
    --white: #f7f8fa;
    --font-size: 1.3rem;
    --mono: "Oxygen mono", monospace;
    --sans: Oxygen, sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html body{
    background-color: var(--black);
    font-family: var(--sans);
    width: 100%;
}
.gradient {
    background: linear-gradient(90deg, rgba(255, 23, 228, 1) 0%, rgba(134, 251, 251, 1) 100%);
    height: 2px;
}

/*Scroll Bar*/
::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(227, 16, 203, 0.5);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent; 
  }
  

/*Navbar*/
nav{
    width: 100%;
    padding: 2rem 16rem;
    margin-bottom: 2rem;
    font-family: var(--mono);
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:3rem;
}
nav ul li{
    list-style: none;
    margin-right:1rem;
}
nav ul li a{
    font-family: var(--mono);
    text-decoration: none;
    color: var(--white);
    font-size: 1.3rem;
}
nav ul:first-child{
    padding: 1rem;
    padding-left: 0rem;
}
nav ul li:first-child{
    margin-right: auto;
    padding: 0rem;
}
nav ul:first-child i{
    color: var(--aqua);
}
nav ul li i:hover{
    color: var(--magenta);
}
nav ul li:first-child a{
    font-family: var(--sans);
    font-size: 2rem;
}
nav ul li:last-child{
    padding: 0.6rem;
    border-radius: 10px;
    background-color: var(--magenta);
    border: var(--magenta);
    color: var(--white);
}
nav ul li a:hover{
    color: var(--magenta);
}
nav ul li:last-child:hover{
    background-color: var(--hotmag);
}
nav ul li:last-child a:hover{
    color: var(--white);
}

/*Info*/
body .info{
    padding: 1rem 16rem;
    padding-bottom: 10rem;
}
body .info .name{
    font-family: var(--mono);
    color: var(--white);
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
body .info .name span{
    font-family: var(--sans);
    color: var(--aqua);
    margin-top: 1rem;
    display: block;
    font-size: 3rem;
}
body .info h2{
    color: var(--white);
    font-size: 3rem;
    margin-bottom: 1rem;
}
body .info p{
    color: var(--white);
    font-size: 1.3rem;
}
body .info p a{
    color: var(--magenta);
}

/*Projects*/
body #projects{
    background-color: var(--dkblue);
    padding: 1rem 16rem;
    padding-bottom: 10rem;
}
body #projects h2{
    color: var(--white);
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-bottom: calc(2.5rem * 1.5);
}
body #projects article{
    display: flex;
    position: relative;
    color: var(--white);
    background-color: var(--black);
    padding: 2rem 4rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}
body #projects article h3{
    position: absolute;
    top: 1rem;
}
body #projects article p{
    margin-top: 1rem;
}

/*Contact Me*/
body #contact-me{
    background-color: var(--plum);
    display: flex;
    flex-direction: column;
    padding: 3rem 16rem;
    text-align: center;
}
 body #contact-me h3{
    padding: 1rem;
    font-size: 2.5rem;
    color: var(--white);
    margin-bottom: 1rem;
}
body #contact-me p{
    font-size: 1.3rem;
    color: var(--white);
    margin-bottom: 2rem;
} 

body #contact-me p .mailButton{
    padding: .5rem;
    border-radius: 10px;
    background-color: var(--magenta);
    text-decoration: none;
    color: var(--white);
}
body #contact-me p .mailButton:hover{
    background-color: var(--hotmag);
}

/*Footer*/
body #footer{
    background-color: var(--black);
    padding: 3rem 16rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}
body #footer h3{
    margin-bottom: 1rem;
    color: var(--white);
    padding: 1rem;
    font-size: 2.5rem;
}
body #footer ul{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
body #footer ul li{
    list-style-type: none;
    margin: 0 1rem;
    font-size: 2rem;
}
body #footer ul li a i{
    color:var(--magenta);
}
body #footer ul li a i:hover{
    color: var(--hotmag);
}
body #footer p{
    color: var(--white);
}

/*Media Queries*/

/*Laptop L - 1440px*/
@media (max-width: 1440px) {
    body nav{
     padding: 2rem 12rem;
    }
    body .info{
        padding: 2rem 12rem;
        margin-bottom: 4rem;
    }
    body #projects{
        padding: 2rem 12rem;
    }
    
 }

/*Laptop - 1024 px*/
@media (max-width: 1024px) {
   body nav{
    padding: 2rem 1rem;
   }
   body .info{
        padding: 2rem 1rem;
        margin-bottom: 4rem;
    }
    body #projects{
        padding: 2rem 1rem;
    }
}

/*Tablet - 768px*/
@media (max-width: 768px) {
    /*No problem found*/    
 }

 /*Mobile L - 425px*/
 @media (max-width: 425px) {
    body nav ul{
     display: flex;
     flex-direction: column;
     padding: 0;
    }
    body nav ul li{
        margin: 0;
        margin-right: 0;
        margin-bottom: .5rem;
    }
    nav ul:first-child{
        padding: 0;
    }
    nav ul li:first-child{
        margin: 0;
        margin-bottom: .5rem;
    }
    body #projects article{
        padding: 2rem 1.2rem;
    }
    body #contact-me{
        padding:3rem 5rem;
    }
    body #footer{
        padding:3rem 1rem;
    }
 }

  /*Mobile M - 375px*/
  @media (max-width: 375px) {
    body #projects article{
        padding: 2rem 1.2rem;
    }
 }

 /*Mobile S - 320px*/
 @media (max-width: 320px){
    body #projects article{
        padding: 2rem 1.4rem;
    }
 } 